<div class="login-page" [formGroup]="resetPasswordForm">
    <div class="glass-card">
      <h3>Safety Chat</h3>
      <h2>Reset Password</h2>
      <div>
        <div class="input-group">
          <label>Email</label>
          <input type="text" formControlName="email" pInputText placeholder="example@gmail.com" />
        </div>
          <div class="input-group">
            <label>confirmation Code</label>
            <input type="text" formControlName="confirmationCode" pInputText placeholder="example@gmail.com" />
          </div>
          <div class="input-group">
            <label>newPassword</label>
            <input type="text" formControlName="newPassword" pInputText placeholder="example@gmail.com" />
          </div>
          <div class="input-group">
            <label>confirmNewPassword</label>
            <input type="text" formControlName="confirmNewPassword" pInputText placeholder="example@gmail.com" />
          </div>
      </div>
      <p-progressSpinner *ngIf="loader" styleClass="custom-spinner"></p-progressSpinner>
      <button pButton label="Send code ..." class="login-button" (click)="resetPassword()" [disabled]="!resetPasswordForm.valid"></button>
    </div>
  </div>
  